<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>31414987-E0CB-4D0F-B3FE-4DAC7A880E91</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>duck</string>
			<key>text</key>
			<string>duck</string>
			<key>url</key>
			<string>https://duckduckgo.com</string>
		</dict>
	</dict>
</dict>
</plist>
